:root {
    --primary-color: #055a05;
    --secondary-color: #222;
    --accent1-color: #264653;
    --accent2-color: #228b22;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: black;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
}

nav {
    background-color: rgba(235, 235, 12, 0.418);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: flex;
    position: relative;
    font-size: 1rem;
    padding: 1rem;
    align-items: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #fff2ff;
    /* Optional hover effect */
}

header,
main,
footer {
    width: 800px;
    margin: 0 auto;
}

h1,
p {
    justify-content: center;
    color: var(--secondary-color);
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    text-align: center;

}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    border-bottom: 1px solid var(--accent1-color);
}

header,
.grid,
footer {
    max-width: 800px;
    margin: 0 auto;
}

/*goos*/
.split-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/*goos*/
.side-text {
    flex: 1;
    margin: 0;
}

/*goos*/
.center-image {
    max-width: 150px;
    height: auto;
    display: block;
}

/*goos*/
nav,
p,
section,
article {
    margin: 1px;
    padding: 4px;
}

/*goos*/
.socialmedia a {
    color: var(--accent1-color);
}

/*goos*/
.hero {
    position: relative;
    display: block;
}

/*goos uyyuiiii*/
.hero img {
    display: block;
    width: 800px;
    height: auto;
}

/*goos*/
.hero h1 {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
    background-color: var(--accent2-color);
    opacity: 0.8;
    margin: 0;
    font-style: normal;
}

/*goos*/
.hero,
div h2 {
    background-color: rgba(235, 235, 12, 0.418);
}

/*goos*/
section h2 {
    background-color: rgba(235, 235, 12, 0.418);
    border: 2px solid var(--secondary-color);
}

/*goos*/
.hero article {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2px;
    width: 800px;
    border: 2px solid var(--secondary-color);
    text-align: center;
}

/*goos*/
.hero article img {
    float: right;
    width: 150px;
    margin-left: 10px;
}

.adventure-gallery h2 {
    background-color: rgba(235, 235, 12, 0.418);
    padding: 2px;
    width: 800px;
    border: 2px solid var(--secondary-color);
}

.adventure-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    flex-wrap: wrap;
    max-width: 800px;
}

figure {
    border: 1px solid silver;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 130px;
    margin: 0;
    flex: 0 1 150px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    background-color: #222222;
    color: #fff;
    font: smaller Georgia;
    padding: 8px;
    text-align: center;
    margin-top: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 5px solid var(--secondary-color);
    padding: 20px 20px;
    border-bottom: thick black;
}

.socialmedia {
    display: flex;
    gap: 15px;