* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: #333;
    background: #fff;
}

header {
    margin: 0 auto;
    width: 400px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
}

form {
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    justify-items: center;
}

.form-item {
    flex-direction: column;
    align-items: flex-end;
    margin: 12px 0;
}

.form-item label {
    width: 120px;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 5px;
}

.form-item input {
    width: 250px;
    padding: 7px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

fieldset {
    display: grid;
    gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

fieldset.info-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 4px;
}

fieldset.question-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 25px;
    border-radius: 4px;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3rem;
    padding: 8px 10px;
    text-align: left;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
    align-content: end;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}