* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    background-color: forestgreen;
    color: #abc;
}

nav {
    background-color: blue;
}