* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    /* 1 */
    padding: 1rem;
    background-color: #abd;
    color: #333;
    text-align: center;
}

nav {
    background-color: skyblue;
    padding: 1rem;
}

nav a {
    color: black;
    padding: 1rem;
    display: block;
}

h1 {
    color: blueviolet;
    padding: .5rem;
}

aside img {
    width: 200px;
    height: auto;
}

main {
    max-width: 678px;

}

main img {
    /* floating image to the right */
    width: 200px;
    height: auto;
    border: #eee;
    padding: 1rem;
    box-shadow: 20px 10px 20px;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 20px;
    border: 1px solid #000;
    text-align: center;
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 47px;
    left: 180px;
}

.indent {
    padding-left: 2rem;
}