* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    padding: 0.5rem;
    align-items: center;
}

nav a:hover {
    color: #ddd;
    /* Optional hover effect */
}

h1 {
    color: blueviolet;
    padding: .5rem;
    border-bottom: 1px solid blueviolet;
}

.grid {
    display: grid;
    align-items: start;
    /*grid-gap: 20px;*/
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid #eee;
    padding: 1rem;
    box-shadow: 5px 5px 10px #aaa;
    float: right;
    margin: 0 0 1rem 1rem;
}

aside {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 20rem;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 1.2rem;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    padding: 1rem;
    text-align: center;
}